---
---

@import 'main';

/* append your custom style below */
  ul {
    margin-bottom: 2rem;

    li.nav-item {
      opacity: 0.9;
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      a.nav-link {
        @include pt-pb(0.6rem);

        display: flex;
        align-items: center;
        border-radius: 0.75rem;
        font-weight: 600;

        &:hover {
          background-color: var(--sidebar-hover-bg);
        }

        i {
          font-size: 95%;
          opacity: 0.8;
          margin-right: 1.5rem;
        }

        span {
          font-size: 90%;
          letter-spacing: 0.1px;
        }
      }

      &.active {
        .nav-link {
          color: var(--sidebar-active-color);
          background-color: var(--sidebar-hover-bg);

          span {
            opacity: 1;
          }
        }
      }

      &:not(:first-child) {
        margin-top: 0.25rem;
      }
    }
  }